#logoJeu{
    width: 35vw;
    text-align: center;
    display: flex;
    margin: auto;
    margin-top: 20px;
}

#title{
    text-align: center;
    font-family: Parisine, Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 30px;
    margin-top: 10px;
}

table{
    margin: auto;
    text-align: center;
    width: 90%;
}

tr{
    margin: auto;
    text-align: center;
    width: 100%;
}

.textSectTitle{
    font-family: Parisine, Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.textSectDesc{
    font-family: Parisine, Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #323232;
}

#img{
    height: 30vh;
}

#dev{
    font-family: Parisine, Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    color: #9A9A9A;
}